-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: poultry_farm
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` int(10) unsigned DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `module` varchar(100) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_activity_user` (`user_id`),
  KEY `idx_activity_date` (`created_at`),
  CONSTRAINT `fk_activity_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `egg_production`
--

DROP TABLE IF EXISTS `egg_production`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `egg_production` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `batch_id` int(10) unsigned NOT NULL,
  `production_date` date NOT NULL,
  `eggs_collected` int(10) unsigned NOT NULL DEFAULT 0,
  `broken_eggs` int(10) unsigned NOT NULL DEFAULT 0,
  `notes` text DEFAULT NULL,
  `recorded_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_batch_date` (`batch_id`,`production_date`),
  KEY `idx_production_date` (`production_date`),
  KEY `fk_egg_user` (`recorded_by`),
  CONSTRAINT `fk_egg_batch` FOREIGN KEY (`batch_id`) REFERENCES `poultry_batches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_egg_user` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `egg_production`
--

LOCK TABLES `egg_production` WRITE;
/*!40000 ALTER TABLE `egg_production` DISABLE KEYS */;
INSERT INTO `egg_production` VALUES (1,3,'2026-08-10',39,2,'good',1,'2026-08-10 07:19:48'),(2,4,'2026-08-10',200,5,'improvment',1,'2026-08-10 07:21:08');
/*!40000 ALTER TABLE `egg_production` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `egg_sales`
--

DROP TABLE IF EXISTS `egg_sales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `egg_sales` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `sale_date` date NOT NULL,
  `batch_id` int(10) unsigned DEFAULT NULL,
  `quantity` int(10) unsigned NOT NULL,
  `unit_price` decimal(10,2) NOT NULL,
  `total_amount` decimal(12,2) NOT NULL,
  `customer_name` varchar(150) DEFAULT NULL,
  `payment_method` enum('cash','mobile_money','bank','other') DEFAULT 'cash',
  `notes` text DEFAULT NULL,
  `recorded_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_sales_date` (`sale_date`),
  KEY `fk_sales_batch` (`batch_id`),
  KEY `fk_sales_user` (`recorded_by`),
  CONSTRAINT `fk_sales_batch` FOREIGN KEY (`batch_id`) REFERENCES `poultry_batches` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_sales_user` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `egg_sales`
--

LOCK TABLES `egg_sales` WRITE;
/*!40000 ALTER TABLE `egg_sales` DISABLE KEYS */;
/*!40000 ALTER TABLE `egg_sales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expenses`
--

DROP TABLE IF EXISTS `expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `expenses` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `expense_date` date NOT NULL,
  `category` varchar(100) NOT NULL,
  `description` varchar(255) NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `payment_method` enum('cash','mobile_money','bank','other') DEFAULT 'cash',
  `recorded_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_expense_date` (`expense_date`),
  KEY `idx_expense_category` (`category`),
  KEY `fk_expense_user` (`recorded_by`),
  CONSTRAINT `fk_expense_user` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expenses`
--

LOCK TABLES `expenses` WRITE;
/*!40000 ALTER TABLE `expenses` DISABLE KEYS */;
/*!40000 ALTER TABLE `expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `farm_settings`
--

DROP TABLE IF EXISTS `farm_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `farm_settings` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `farm_name` varchar(150) NOT NULL,
  `farm_location` varchar(255) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `currency` varchar(10) DEFAULT 'GHS',
  `timezone` varchar(100) DEFAULT 'Africa/Accra',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farm_settings`
--

LOCK TABLES `farm_settings` WRITE;
/*!40000 ALTER TABLE `farm_settings` DISABLE KEYS */;
INSERT INTO `farm_settings` VALUES (1,'Golden Eggs Poultry Farm','kumasi','0552001414','inusahlaar@gmail.cm','GHS','Africa/Accra','2026-08-10 06:01:41','2026-08-10 16:36:35');
/*!40000 ALTER TABLE `farm_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feed_types`
--

DROP TABLE IF EXISTS `feed_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `feed_types` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `feed_name` varchar(150) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `unit` varchar(50) DEFAULT 'bag',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feed_types`
--

LOCK TABLES `feed_types` WRITE;
/*!40000 ALTER TABLE `feed_types` DISABLE KEYS */;
INSERT INTO `feed_types` VALUES (1,'Starter Feed','Feed for young birds','bag','2026-08-10 06:01:41'),(2,'Grower Feed','Feed for growing birds','bag','2026-08-10 06:01:41'),(3,'Layer Feed','Feed for laying birds','bag','2026-08-10 06:01:41'),(4,'Finisher Feed','Feed for birds nearing sale','bag','2026-08-10 06:01:41');
/*!40000 ALTER TABLE `feed_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feed_usage`
--

DROP TABLE IF EXISTS `feed_usage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `feed_usage` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `batch_id` int(10) unsigned NOT NULL,
  `feed_type_id` int(10) unsigned NOT NULL,
  `usage_date` date NOT NULL,
  `quantity` decimal(10,2) NOT NULL,
  `notes` text DEFAULT NULL,
  `recorded_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_feed_usage_date` (`usage_date`),
  KEY `fk_feed_batch` (`batch_id`),
  KEY `fk_feed_type` (`feed_type_id`),
  KEY `fk_feed_user` (`recorded_by`),
  CONSTRAINT `fk_feed_batch` FOREIGN KEY (`batch_id`) REFERENCES `poultry_batches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_feed_type` FOREIGN KEY (`feed_type_id`) REFERENCES `feed_types` (`id`),
  CONSTRAINT `fk_feed_user` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feed_usage`
--

LOCK TABLES `feed_usage` WRITE;
/*!40000 ALTER TABLE `feed_usage` DISABLE KEYS */;
/*!40000 ALTER TABLE `feed_usage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mortality`
--

DROP TABLE IF EXISTS `mortality`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mortality` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `batch_id` int(10) unsigned NOT NULL,
  `mortality_date` date NOT NULL,
  `quantity` int(10) unsigned NOT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `recorded_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_mortality_date` (`mortality_date`),
  KEY `fk_mortality_batch` (`batch_id`),
  KEY `fk_mortality_user` (`recorded_by`),
  CONSTRAINT `fk_mortality_batch` FOREIGN KEY (`batch_id`) REFERENCES `poultry_batches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_mortality_user` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mortality`
--

LOCK TABLES `mortality` WRITE;
/*!40000 ALTER TABLE `mortality` DISABLE KEYS */;
INSERT INTO `mortality` VALUES (1,4,'2026-03-04',7,'disease',NULL,1,'2026-08-10 07:39:08');
/*!40000 ALTER TABLE `mortality` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `poultry_batches`
--

DROP TABLE IF EXISTS `poultry_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `poultry_batches` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `batch_name` varchar(100) NOT NULL,
  `bird_type` varchar(100) NOT NULL,
  `breed` varchar(100) DEFAULT NULL,
  `initial_quantity` int(10) unsigned NOT NULL,
  `current_quantity` int(10) unsigned NOT NULL,
  `date_started` date NOT NULL,
  `expected_sale_date` date DEFAULT NULL,
  `status` enum('active','sold','completed') DEFAULT 'active',
  `notes` text DEFAULT NULL,
  `created_by` int(10) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_batch_status` (`status`),
  KEY `idx_batch_date` (`date_started`),
  KEY `fk_batch_user` (`created_by`),
  CONSTRAINT `fk_batch_user` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `poultry_batches`
--

LOCK TABLES `poultry_batches` WRITE;
/*!40000 ALTER TABLE `poultry_batches` DISABLE KEYS */;
INSERT INTO `poultry_batches` VALUES (3,'Layers batch 001','Layers','ISA Brown',50,50,'2025-12-25','2027-12-24','active','Moderate production',1,'2026-08-10 07:16:50','2026-08-10 07:16:50'),(4,'Layers batch 002','Layers','ISA White',500,493,'2026-02-05','2027-11-22','active','Good production',1,'2026-08-10 07:18:38','2026-08-10 07:39:08');
/*!40000 ALTER TABLE `poultry_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `full_name` varchar(150) NOT NULL,
  `username` varchar(100) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('admin','co_owner','employee') NOT NULL DEFAULT 'employee',
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `last_login` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'System Administrator','admin','admin@poultryfarm.local','$2y$10$qs3WuBnwpnjuvmTvDalRmu92KXqn2ZPV5UmhyoCRhgpHgEC5Hua9S','admin','active','2026-08-10 18:13:51','2026-08-10 06:19:49','2026-08-10 18:13:51');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-11  7:29:57
